@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Instrument Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.subtitle {
  display: block;
  width: 185px;
  margin: 0 auto 16px;
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  background: linear-gradient(180deg, #fff 0%, #d7e8fd 100%);
  border: 1px solid #e5ebf2;
  border-radius: 18px;
  padding: 6px 0;
  letter-spacing: -0.01em;
  text-align: center;
  background: linear-gradient(180deg, #f8792b 0%, #fab519 99.99%, rgba(236, 178, 47, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.12;
  letter-spacing: -0.01em;
  text-align: center;
  color: #2a2e33;
  margin-bottom: 64px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.header {
  background: url(../img/bg-header.png) no-repeat center, linear-gradient(176deg, #ffeded 0%, rgba(255, 237, 237, 0) 100%), linear-gradient(105deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  position: relative;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wrapper-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 94px 0 179px;
}
.header-fixed {
  padding-top: 30px;
}
.header-logo {
  width: 97px;
  height: 32px;
}
.header .nav {
  flex: 0.7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu {
  display: flex;
}
.header .menu-link {
  padding: 17px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: 0.04em;
  color: #141f39;
  position: relative;
}
.header .menu-link::after {
  content: "";
  width: 13px;
  height: 3px;
  background-color: transparent;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s linear;
}
.header .menu-link:hover::after {
  background-color: #d11763;
}
.header-link {
  border: 1px solid #0c0d0e;
  border-radius: 32px;
  padding: 8px 0px;
  width: 155px;
  height: 50px;
  background: linear-gradient(180deg, #303439 17.71%, #000812 97.4%);
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: 0.04em;
  color: #fff;
}
.header-content {
  max-width: 575px;
  width: 100%;
}
.header-subtitle {
  border: 1px solid #e5ebf2;
  border-radius: 18px;
  padding: 6px 0px;
  width: 166px;
  height: 36px;
  display: block;
  text-align: center;
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  background: linear-gradient(180deg, #fff 0%, #d7e8fd 100%);
  line-height: 1.5;
  letter-spacing: -0.01em;
  background: linear-gradient(0deg, #d11763 0%, #f34d33 100%);
  -webkit-background-clip: text;
          background-clip: text;
  margin-bottom: 20px;
}
.header-title {
  font-weight: 700;
  font-size: 84px;
  line-height: 1.12;
  letter-spacing: -0.01em;
  color: #000812;
  margin-bottom: 20px;
}
.header-text {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #615e59;
  margin-bottom: 50px;
}
.header .link-scrolle {
  display: block;
  width: 66px;
  height: 79px;
  background: url(../img/btn.png) no-repeat bottom center;
  font-size: 10px;
  color: #615e59;
  line-height: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  transition: 0.3s linear;
}
.header .link-scrolle:hover {
  background: url(../img/btn-black.png) no-repeat bottom center;
}

.testimonials {
  padding: 150px 0 220px;
}
.testimonials-slider {
  margin-bottom: 48px;
}
.testimonials .slider-text {
  text-align: center;
}
.testimonials p {
  font-size: 40px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: #2a2e33;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.testimonials .slick-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  z-index: 2;
}
.testimonials .slick-btn.next {
  right: 0;
}
.testimonials .slick-btn.prev {
  left: 0;
}
.testimonials .avatar {
  opacity: 0.8;
  transition: 0.3s linear;
  position: relative;
}
.testimonials .avatar img {
  width: 40px;
  height: 40px;
  transition: 0.3s linear;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.testimonials .avatar span {
  overflow: hidden;
  width: 0;
  display: block;
}
.testimonials .slick-slide {
  margin: 0 20px;
}
.testimonials .slick-center .avatar {
  opacity: 1;
  width: 260px;
  padding-left: 76px;
}
.testimonials .slick-center .avatar img {
  width: 56px;
  height: 56px;
  left: 0;
  transform: translateX(0);
}
.testimonials .slick-center .avatar span {
  width: auto;
}
.testimonials .slick-center .avatar-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: 0.04em;
  color: #101828;
}
.testimonials .slick-center .avatar-job {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #667085;
}

.strategize-subtitle {
  margin: 0 0 16px;
  background: linear-gradient(180deg, #3db54a 0%, #d0ea16 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.strategize-title {
  max-width: 641px;
  width: 100%;
  text-align: left;
}
.strategize .inner-top {
  background: url(../img/cube.png) no-repeat right top;
  margin-bottom: 50px;
}
.strategize .quise {
  border-radius: 50px;
  border: 2px solid rgba(68, 184, 72, 0.12);
  padding: 40px 52px 40px 50px;
}
.strategize .quise-list {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.strategize .quise-list::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 5px;
  background: #d6e5d7;
  transform: translateY(-50%);
  z-index: 0;
}
.strategize .quise-item {
  border: 1.5px solid #e5ebf2;
  border-radius: 40px;
  width: 160px;
  height: 60px;
  background: linear-gradient(180deg, #fff 0%, #d7e8fd 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 3.1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2a2e33;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.strategize .quise-item.active {
  background: #fbbc00;
  color: #fff;
}
.strategize .quise-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 42px;
  margin-top: 7px;
}
.strategize .quise-img {
  max-width: 397px;
  width: 100%;
}
.strategize .quise-content {
  max-width: 422px;
  width: 100%;
  padding-top: 44px;
}
.strategize .quise-content-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: -0.01em;
  color: #2a2e33;
  display: block;
  margin-bottom: 10px;
}
.strategize .quise-content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #707d8e;
  display: block;
  margin-bottom: 20px;
}
.strategize .quise-content-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #2a2e33;
  padding-left: 30px;
  margin-bottom: 10px;
  background: url(../img/arrow-item.svg) no-repeat left center;
}
.strategize .quise-content-item:last-child {
  margin-bottom: 0;
}

.services {
  padding: 150px 0;
}
.services-title {
  max-width: 904px;
  width: 100%;
  margin: 0 auto 64px;
}
.services-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 20px;
  row-gap: 30px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.services .project {
  max-width: 420px;
  width: 100%;
  height: 412px;
  position: relative;
  box-shadow: 0 4px 6px -2px rgba(16, 24, 40, 0.03), 0 12px 20px -4px rgba(16, 24, 40, 0.15);
  background: #fff;
  border: 1px solid #eff4f9;
  border-radius: 12px;
}
.services .project div {
  padding: 24px;
}
.services .project h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.01em;
  color: #1d1a4e;
  margin-bottom: 10px;
}
.services .project p {
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #707d8e;
  margin-bottom: 20px;
}
.services .project a {
  position: absolute;
  left: 24px;
  bottom: 24px;
  width: 109px;
  height: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #1d1a4e;
  display: block;
  background: url(../img/circle-arrow-right.svg) no-repeat right center;
}

.strategy-wrapper {
  display: flex;
  gap: 40px;
  margin-bottom: 150px;
}
.strategy-content {
  max-width: 640px;
  width: 100%;
  background: url(../img/mix.jpg) no-repeat left bottom;
}
.strategy-subtitle {
  margin: 0 auto 16px 0;
}
.strategy-title {
  text-align: left;
}
.strategy-list {
  max-width: 605px;
  width: 100%;
}
.strategy-info {
  padding: 40px 30px 40px 113px;
  background-repeat: no-repeat;
  background-position: 40px 40px;
  transition: 0.3s linear;
}
.strategy-info:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.06);
  background-color: rgba(255, 255, 255, 0);
}
.strategy-info:first-child {
  background-image: url(../img/blue.png);
}
.strategy-info:nth-child(2) {
  background-image: url(../img/orange.png);
}
.strategy-info:last-child {
  background-image: url(../img/pink.png);
}
.strategy-info h4 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.01em;
  color: #1d1a4e;
  margin-bottom: 11px;
}
.strategy-info p {
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: -0.01em;
  color: #4f4f4f;
}
.strategy-info p:first-of-type {
  margin-bottom: 25px;
}

.strategy-wrapper {
  display: flex;
  gap: 40px;
  margin-bottom: 150px;
}
.strategy-content {
  max-width: 640px;
  width: 100%;
  background: url(../img/mix.jpg) no-repeat left bottom;
}
.strategy-subtitle {
  margin: 0 auto 16px 0;
}
.strategy-title {
  text-align: left;
}
.strategy-list {
  max-width: 605px;
  width: 100%;
}
.strategy-info {
  padding: 40px 30px 40px 113px;
  background-repeat: no-repeat;
  background-position: 40px 40px;
  transition: 0.3s linear;
}
.strategy-info:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.06);
  background-color: rgba(255, 255, 255, 0);
}
.strategy-info:first-child {
  background-image: url(../img/blue.png);
}
.strategy-info:nth-child(2) {
  background-image: url(../img/orange.png);
}
.strategy-info:last-child {
  background-image: url(../img/pink.png);
}
.strategy-info h4 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.01em;
  color: #1d1a4e;
  margin-bottom: 11px;
}
.strategy-info p {
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: -0.01em;
  color: #4f4f4f;
}
.strategy-info p:first-of-type {
  margin-bottom: 25px;
}

.not-sure__wrapper {
  display: flex;
  padding: 46px 48px 46px 50px;
  background: #010902 url(../img/bg-sure.png) no-repeat center;
  gap: 50px;
  border-radius: 20px;
  align-items: center;
}
.not-sure .container {
  padding: 50px 0px;
  width: 1300px;
  height: 336px;
}
.not-sure h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.12;
  letter-spacing: -0.01em;
  color: #DFF0E1;
  background-image: radial-gradient(123.44% 123.44% at 56.63% 100%, rgb(223, 240, 225) 6.77%, rgb(255, 255, 255) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.39);
  width: 967px;
}
.not-sure__link {
  font-weight: 500;
  line-height: normal;
  color: #2a2e33;
  border-radius: 32px;
  padding: 16px 0 16px 35px;
  width: 185px;
  height: 54px;
  box-shadow: inset 0 1px 2px 0 rgba(2, 147, 22, 0.6196078431), inset 0 -1px 2px 0 rgba(2, 147, 22, 0.6196078431);
  background: url(../img/arrow-contact.svg) no-repeat right 35px center, linear-gradient(180deg, #fff 0%, #dedede 100%);
}

.experience {
  padding: 150px 0;
}
.experience-subtitle {
  margin: 0 0 16px;
}
.experience-title {
  text-align: left;
}
.experience-content {
  display: flex;
  align-items: center;
  gap: 50px;
}
.experience-content:nth-of-type(odd) {
  flex-direction: row-reverse;
  margin: 80px 0;
}
.experience-content:nth-of-type(odd) .content {
  padding-left: 80px;
}
.experience-content p {
  margin-top: 30px;
  width: 100%;
  max-width: 418px;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: -0.01em;
  color: #1d1a4e;
}
.experience .content {
  max-width: 629px;
  width: 100%;
}
.experience .content h3 {
  font-family: "Instrument Sans", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -0.01em;
  color: #1d1a4e;
}
.experience .content figure {
  max-width: 640px;
  width: 100%;
}/*# sourceMappingURL=main.css.map */