.experience {
    padding: 150px 0;

    &-subtitle {
        margin: 0 0 16px;
    }

    &-title {
        text-align: left;
    }

    &-content {
        display: flex;
        align-items: center;
        gap: 50px;

        &:nth-of-type(odd){
            flex-direction: row-reverse;
            margin: 80px 0;

            .content{
                padding-left: 80px;
            }
        }

        p {
            margin-top: 30px;
            width: 100%;
            max-width: 418px;
            font-size: 18px;
            line-height: 1.44;
            letter-spacing: -0.01em;
            color: $colorTitle;
        }
    }

    &-content__about {
        justify-content: space-between;
    }

    .content {
        max-width: 629px;
        width: 100%;

        h3 {
            @include ffinstrument(28px, 600);
            line-height: 1.14;
            letter-spacing: -0.01em;
            color: $colorTitle;
        }

        figure {
            max-width: 640px;
            width: 100%;
        }
    }

}