.footer{
    &-top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        border-bottom: 1px solid #dfe4ef;
    }

    .logo figure {
        width: 200px;
        margin-bottom: 30px;
    }

    .logo span {
        display: block;
        font-weight: 600;
        font-size: 36px;
        line-height: 1.33;
        letter-spacing: -0.01em;
        background: linear-gradient(180deg, rgba(42, 46, 51, 0.62) 0%, #000 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-title {
        font-weight: 500;
        line-height: 1.25;
        color: #000;
        display: block;
        margin-bottom: 20px;
    }

    &-menu a {
        font-size: 14px;
        line-height: 1.43;
        color: $colorTitle;
    }

    &-menu li:not(last-child) {
        margin-bottom: 10px;
    }

    &-social {
        display: flex;
        gap: 30px;
    }
}