.header {
  position: relative;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &-wrapper-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 94px 0 179px;
  }

  &-fixed {
    padding-top: 30px;
  }

  &-logo {
    width: 97px;
    height: 32px;
  }

  .nav {
    flex: 0.70;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: flex;

    &-link {
      padding: 17px;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.78;
      letter-spacing: 0.04em;
      color: #141f39;
      position: relative;

      &::after {
        content: '';
        width: 13px;
        height: 3px;
        background-color: transparent;
        position: absolute;
        bottom: 8px;
        left: 50%;
        transform: translateX(-50%);
        transition: $transition;
      }

      &:hover::after {
        background-color: #d11763;

      }
    }


  }

  &-link {
    border: 1px solid #0c0d0e;
    border-radius: 32px;
    padding: 8px 0px 8px 23px;
    width: 178px;
    height: 50px;
    background: url(../img/arrow-services.svg) no-repeat right 20px center,linear-gradient(180deg, #303439 17.71%, #000812 97.4%);
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.78;
    letter-spacing: 0.04em;
    color: #fff;
  }

  &-content {
    max-width: 575px;
    width: 100%;
  }

  &-subtitle {
    border: 1px solid #e5ebf2;
    border-radius: 18px;
    padding: 6px 0px;
    width: 166px;
    height: 36px;
    display: block;
    text-align: center;
    backdrop-filter: blur(9px);
    background: linear-gradient(180deg, #fff 0%, #d7e8fd 100%);
    line-height: 1.5;
    letter-spacing: -0.01em;
    background: linear-gradient(0deg, #d11763 0%, #f34d33 100%);
    background-clip: text;
    margin-bottom: 20px;
  }

  &-title {
    font-weight: 700;
    font-size: 84px;
    line-height: 1.12;
    letter-spacing: -0.01em;
    color: $colorBlack;
    margin-bottom: 20px;
  }

  &-text {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: $colorGrey;
    margin-bottom: 50px;
  }

  .link-scrolle {
    display: block;
    width: 66px;
    height: 79px;
    background: url(../img/btn.png) no-repeat bottom center;
    font-size: 10px;
    color: #615e59;
    line-height: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    transition: $transition;

    &:hover {
      background: url(../img/btn-black.png) no-repeat bottom center;
    }

  }

  
}