.offer {

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 20px;
        row-gap: 30px;
    }

    .card-img {
        max-width: 420px;
        width: 100%;
        position: relative;
        border-radius: 30px;
        transition: .3s linear;

        &::before {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 34.67%, rgba(0, 0, 0, 0.3) 65.62%, rgba(0, 0, 0, 0.7) 100%);
        }


        img {
            border-radius: 30px;
            height: 100%;
        }

        figcaption {
            position: absolute;
            left: 30px;
            bottom: 30px;
            width: 360px;
            color: $colorWite;
            z-index: 2;
        }

        .card-title {
            font-weight: 600;
            font-size: 28px;
            line-height: 1.14;
            letter-spacing: -0.01em;
        }

        .card-text {
            visibility: hidden;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.44;
            letter-spacing: -0.01em;
            overflow: hidden;
            animation: fadeout .3s linear forwards;
        }

        &:hover {

            .card-text {
                visibility: visible;
                animation: fadein .3s linear forwards;
            }
        }
    }

    &-subtitle {
        width: 257px;
        background: linear-gradient(0deg, #d11763 0%, #f34d33 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-title {
        margin-bottom: 50px;
    }
}

@keyframes fadein{
    from{
        height: 0;
        opacity: 0;
        margin: 0;
    }
    to{
        height: 78px;
        opacity: 1;
        margin: 10px;
    }
}
@keyframes fadeout{
    from{
        height: 78;
        opacity: 1;
        margin: 10px;
    }
    to{
        height: 0;
        opacity: 0;
        margin: 0;
    }
}