* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    @include ffinstrument(16px, 400);
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.padding-large {
    padding: 150px 0;
}


.subtitle {
    display: block;
    width: 185px;
    margin: 0 auto 16px;
    backdrop-filter: blur(9px);
    background: linear-gradient(180deg, #fff 0%, #d7e8fd 100%);
    border: 1px solid #e5ebf2;
    border-radius: 18px;
    padding: 6px 0;
    letter-spacing: -0.01em;
    text-align: center;
    background: linear-gradient(180deg, #f8792b 0%, #fab519 99.99%, rgba(236, 178, 47, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.12;
    letter-spacing: -0.01em;
    text-align: center;
    color: #2a2e33;
    margin-bottom: 64px;
}